<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tela01"></ion-back-button>
    </ion-buttons>
    <ion-title>O que é o Recurso?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center custom-grid">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">Promise</h1>
        <p>Promise, o recurso é o valor resultante ou o motivo do seu estado. Quando uma Promise é resolvida com sucesso, o recurso é o valor retornado pela operação assíncrona. Por exemplo, ao fazer uma chamada de API assíncrona usando uma Promise, o recurso pode ser os dados recebidos da resposta da API. Se ocorrer um erro durante a operação assíncrona, o recurso será o motivo pelo qual a Promise foi rejeitada, geralmente uma mensagem de erro.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">Observable</h1>
        <p>Já no Observable, o recurso é representado pela sequência de eventos assíncronos que podem ocorrer ao longo do tempo. O Observable emite uma série de valores em uma sequência contínua, e cada valor é considerado um recurso. Por exemplo, ao lidar com eventos do usuário, como cliques de botões, cada clique pode ser considerado um recurso individual dentro do Observable. Em uma chamada de API assíncrona, o recurso seria a sequência de eventos que ocorrem durante a execução da operação, como o envio da solicitação, a recepção de dados parciais e a conclusão da resposta.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
