<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tela01"></ion-back-button>
    </ion-buttons>
    <ion-title>Quando utilizar esses recursos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h2>Observable</h2>
        <p>O Observable é amplamente utilizado quando você precisa lidar com fluxos contínuos de eventos ou dados assíncronos ao longo do tempo. </p>
        <ul>
          <li>Lidar com eventos do usuário, como cliques de botões, toques na tela ou movimentos do mouse.</li>
          <li>Gerenciar chamadas de API assíncronas que envolvem streaming de dados.</li>
          <li>Manipular fluxos complexos de dados assíncronos que requerem transformação, filtragem ou combinação.</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Promise</h2>
        <p>A Promise é adequada para lidar com operações assíncronas simples ou chamadas de API que retornam um único resultado.</p>
        <ul>
          <li>Carregar um recurso único, como uma imagem ou um arquivo.</li>
          <li>Executar uma única tarefa assíncrona, como validar um formulário ou processar um arquivo.</li>
          <li>Lidar com chamadas de API assíncronas que retornam um resultado único, como uma resposta JSON.</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
