<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tela01"></ion-back-button>
    </ion-buttons>
    <ion-title>Quais as principais Funcionalidades?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h1>Funcionalidades do Observable</h1>
        <ul>
          <li>Representação de fluxo de dados: O Observable permite trabalhar com fluxos contínuos de eventos e dados assíncronos ao longo do tempo.</li>
          <li>Manipulação de sequências: O Observable oferece uma ampla gama de operadores para transformar, filtrar, combinar e manipular sequências de eventos.</li>
          <li>Composição: Os Observables podem ser facilmente combinados e compostos para criar fluxos de dados mais complexos.</li>
          <li>Cancelamento: É possível cancelar a assinatura de um Observable, interrompendo a recepção de eventos.</li>
          <li>Gerenciamento de erros: Os Observables têm recursos embutidos para lidar com erros e tratar exceções durante a transmissão de eventos.</li>
          <li>Suporte a operações assíncronas complexas: O Observable é adequado para lidar com fluxos de dados assíncronos complexos, como chamadas de API que envolvem várias etapas.</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Funcionalidades da Promise</h1>
        <ul>
          <li>Representação de um valor futuro: A Promise representa um valor que pode estar disponível no futuro, seja um resultado bem-sucedido ou um motivo de falha.</li>
          <li>Tratamento de conclusão: Uma Promise permite que você defina código para ser executado quando a operação assíncrona for concluída com sucesso ou falhar.</li>
          <li>Encadeamento de ações: É possível encadear várias ações assíncronas em uma sequência lógica usando os métodos then() e catch().</li>
          <li>Composição simplificada: Promises podem ser facilmente combinadas usando métodos como Promise.all() ou Promise.race().</li>
          <li>Controle de fluxo: Promises permitem controlar o fluxo assíncrono por meio de instruções condicionais, como if e else, usando a resolução ou rejeição da Promise.</li>
          <li>Operações assíncronas simples: A Promise é uma escolha adequada para operações assíncronas simples, como carregar um recurso único ou executar uma única tarefa assíncrona.</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
